li{
    list-style-type: none;

}

.items{
    height: 100%;
    overflow-y: auto;
}

.topic{
    font-size: 23px;
}

.nav-hold{
    height: 100vh;
}

.list{
    margin: 39px 150px;
}

@media (max-width: 850px){
    .list{
        margin: 10px;
    }
}